<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-success navbar-dark">
  <!-- Container wrapper -->
  <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#"><h4>Recipe Book</h4></a>

      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"  aria-label="Toggle navigation"
      aria-controls="navbarSupportedContent" aria-expanded="false" data-mdb-target="#navbarSupportedContent">
          <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- Link -->
              <li class="nav-item">
                  <a class="nav-link text-white" href="#">Recipes</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white" href="#">Shopping List</a>
              </li>
          </ul>
           <!-- Dropdown -->

           <div class="nav-item dropdown mx-5">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
            data-mdb-toggle="dropdown">
                Manage
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" href="#">Action</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Another action</a>
                </li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                </li>
            </ul>
          </div>
      </div>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->