<div class="row">
    <div class="col-xs-12">
        <img [src]="recepe.ImagePath" alt="{{recepe.name}}" class="image-responsive"
        style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recepe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle">Manage Recipe</button>
            <ul class="dropdown-menu"> 
                <li><a href="#">To Shopping List</a></li>
                <li><a href="#">Edit Recepe</a></li>
                <li><a href="#">Delete Recepe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       <p>{{recepe.Description}}</p> 
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>{{recepe.Description}}</p> 
    </div>
</div>