<body class="Background">
  <section class="vh-100 gradient-custom bg-opacity-50">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div
            class="card bg-dark text-white bg-opacity-25"
            style="border-radius: 1rem; backdrop-filter: blur(20px)"
          >
            <div class="card-body p-4 text-center">
              <div class="mb-md-3 mt-md-4 pb-5">
                <h2 class="fw-bold mb-3 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5">
                  Please enter your login and password!
                </p>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">Email</label>
                  <input
                    type="email"
                    id="typeEmailX"
                    class="form-control form-control-lg"
                  />
                </div>
                <!-- <div class="form-outline">
                  <label class="form-label" for="form12">Example label</label>
                  <input type="text" id="form12" class="form-control" />

                </div> -->

                <!-- <div class="form-floating mb-3 mt-3">
                  <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                  <label for="email" style="color: black; text-transform: capitalize;">Email</label>
                </div> -->

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typePasswordX">Password</label>
                  <input
                    type="password"
                    id="typePasswordX"
                    class="form-control form-control-lg"
                  />
                </div>

                <p class="small mb-2 pb-lg-2">
                  <a class="text-white-50" href="#!">Forgot password?</a>
                </p>

                <button
                  class="btn btn-outline-success btn-lg px-5"
                  type="submit"
                >
                  Login
                </button>
              </div>

              <div>
                <p class="mb-5">
                  Don't have an account?
                  <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
